<header class="topbar">
  <div class="wrapper nav-flex">
    <a href="/products" class="logo">StockMaster</a>

    <nav class="nav-links">
      <a href="/products">Accueil</a>
      <a href="/products/new">Ajouter</a>
    </nav>
  </div>
</header>